# Configurações de FTP para Deployment (QSlides ID)
FTP_HOST=ftp.seudominio.com
FTP_USER=usuario@dominio.com
FTP_PASS="sua-senha-segura"
FTP_PORT=21

# Path de destino no servidor
# Ex: /public_html/clientes/nome-do-cliente/apresentacao
FTP_REMOTE_PATH=/slugname/id
